# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/SgRaytracer/.vs/SgRaytracer/v15
/.vs
/Debug
/Release
/SgRaytracer/x64/Debug
/SgRaytracer/Release
/SgRaytracer/Debug
/SgRaytracingLib/Debug
/SgRaytracingLib/Release
/SgRaytracingLib/x64/Debug
/SgRaytracingLib/Win32/Debug
/SgRaytracingLibUnitTest/x64/Debug
/SgRaytracingLibUnitTest/Debug
